@model Znachor.ViewModels.OrderViewModel
@using System.Web.Mvc.Html



@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
  string val = "";
  if (Request.Cookies["ShoppingCart"] != null)
  {
      val = (decimal.Parse(Request.Cookies["ShoppingCart"].Value)).ToString("F");
  }
}

<h2>Suma Zamówienia: @val</h2>
<div><hr /></div>

<p>
    @{
      List<string> listItems = new List<string>();
      listItems.Add("List");
      listItems.Add("ListPolecony");
      listItems.Add("Kurier");
      listItems.Add("Paczkomat");
      listItems.Add("Odbiór osobisty");

    }
    <div class="col-md-12">
       
        <div class="col-md-5">
            Wybierz sposób dostawy
            <br/>
            @foreach (var cat in listItems)
            {
            @Html.RadioButtonFor(x => x.Shipment, cat, new { name = cat });@cat
            <br />
            }
        </div>
        <div class="verticalLine col-md-2">
            @{
              List<string> listItems2 = new List<string>();
              listItems2.Add("Przelew bankowy");
              listItems2.Add("Karta płatnicza");
              listItems2.Add("Przelewy 24");
              listItems2.Add("PayPal");
              listItems2.Add("Gotówka przy odbiorze");

            }
            @{ 
              var entery = listItems.Count() > listItems2.Count() ? listItems.Count : listItems2.Count;
            }
            @for(var i = 0; i< entery+1; i++)
            {
              <br/>
            }
        </div>
        <div class="col-md-5">
            Wybierz sposób płatności
            <br/>
            @foreach (var cat in listItems2)
            {
            @Html.RadioButtonFor(x => x.Payment, cat);@cat
            <br />
            }
        </div>
        <br />
    </div>
@for (var i = 0; i < entery+1; i++)
{
<br />
}


    <div><hr /></div>
    <div class=" col-md-12">Dane do dostawy:</div>

        <div class="col-md-12">
            <div class="col-md-3" align="right">Imię:</div>
            @Html.TextBoxFor(x => x.FirstName, new { @class = "col-md-4" })
        </div>
        <br />
    <br />

        <div class="col-md-12">
            <div class="col-md-3" align="right">Nazwisko:</div>
            @Html.TextBoxFor(x => x.Surname, new { @class = "col-md-4" })
        </div>
        <br />
    <br />

        <div class="col-md-12">
            <div class="col-md-3" align="right">Ulica:</div>
            @Html.TextBoxFor(x => x.Street, new { @class = "col-md-4" })
        </div>
        <br />
    <br />

        <div class="col-md-12">
            <div class="col-md-3" align="right">Kod pocztowy:</div>
            @Html.TextBoxFor(x => x.PostalCode, new { @class = "col-md-4" })
        </div>
        <br />
    <br />

        <div class="col-md-12">
            <div class="col-md-3" align="right">Miasto:</div>
            @Html.TextBoxFor(x => x.City, new { @class = "col-md-4" })
        </div>

    <br />
    <div><hr /></div>
    <div align="right">
        @Html.ActionLink("Przejdź do płatności", "Index", "Order", new { }, new { @class = "btn btn-default" })
    </div>
   
    
  
</p>

